
<%- include('./partials/usuariomenu')%>

<main class="main_content">

  <div class="codigo">
      <!-- Tela lateral -->
      <!-- link com angora volta onde quer id -->
<h3 class="fontebarra" id="titulo-Meus Créditos">Meus Pedidos</h3> 
  </div>
  <% if (users.length>0) {%>
  <div class="table-container">
<table>
 <thead>
  <tr>
    <th>Pedido</th>
              <th>Status</th>
              <TH>Data</TH>
                <th>Valor</th> 
              <th>Ação</th>
  </tr>
 </thead>
 <tbody>
  

  <tr>
    <td><%= user.pedido%></td>
    <td><%= user.status %></td>
    <td><%= user.data %></td>
    <td><%= user.valor %> </td>
    <td class="table-actions">
      <a href="/MinhaConta/<%= user.id%>" class="table-link-show"> Visualizar Pedido</a>
    </td>

  </tr>

<%}%>
  
 </tbody>
</table>

    
  </div>

  <%}else{ %>
    <h2 class="error-alert">Nenhum usuário encontrado </h2>
<%} %>


</main>
</section>
<%- include('./partials/footerusuario')%>

  

