
  <link rel="stylesheet" href="/stylesheets/123.css">
<main id="user-list">
    <h1>Lista de Usuários</h1>
   
   <!-- verificação  -->
   <% if (users.length>0) {%>

    <div class="table-container">
      <table >
        <thead>
            <tr>
              <th>Nome</th>
              <th>CPF</th>
              <TH>Telefone Principal</TH>
                <th>Celular</th> 
              <TH>Data de nascimento</TH>
              <TH>Sexo</TH>
              <th>RG</th>
              <th>Receber Newsletter</th>
              <th>E-mail</th>
              <th>Instagram</th>

              <th>Pedido</th>
              <th>Status</th>
              <TH>Data</TH>
                <th>Valor</th> 
              <th>Ação</th>
<!-- <th>cep</th>
<th>rua</th>
<th>bairro</th>
<th>cidade</th>
<th>numero</th>
<th>complemento</th>
<th>cartao</th> -->
            </tr>
        </thead>
        <tbody>
<!-- variavel no plural no for of vem para o singular -->
    <% for (let user of users){%>
            <!--conteudo daqui roda a quantidade de vezes da variavel  -->
      <!-- trabalhando com for  nao pode ter id  -->
            <tr>
         
                <td><%= user.nome %> </td>
                <td><%= user.cpf %></td>
                <td><%= user.telefonePrincipal %></td>
               
                <td><%= user.celular %> </td>
                <td><%= user.nascimento %> </td>
                    <td><%= user.sexo %></td>
                    <td><%= user.rg %></td>           
                    
                    <td><%= user.receber %></td>
                    <td><%= user.email %></td>
                    
                <td><%= user.instagram %></td>

               
  <!-- <td><%= user.nome %>cep</td>
  <td><%= user.nome %>rua</td>
  <td><%= user.nome %>bairro</td>
  <td><%= user.nome %>cidade</td>
  <td><%= user.nome %>numero</td>
  <td><%= user.nome %>complemento</td>
  <td><%= user.nome %>cartao</td> -->
  <td><%= user.pedido%> </td>
  <td><%= user.status %></td>
  <td><%= user.data %></td>
 
  <td><%= user.valor %> 


                
                <td class="table-actions">
                    <a href="/MinhaConta/<%= user.id%>" class="table-link-show"> Visualizar</a>
                    <a href="/MinhaConta/<%= user.id%>" class="table-link-edit" >Editar</a>
                    <a href="/MinhaConta/<%= user.id%>" class="table-link-delete" >Excluir</a>
                </td>
            </tr>
            <%}%>
        </tbody>
    </table>
</div>
<%}else{ %>
    <h2 class="error-alert">Nenhum usuário encontrado </h2>
<%} %>



</main>



